
ExceptionsOnPurpose/.vs/ExceptionsOnPurpose/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
ExceptionsOnPurpose/ExceptionsOnPurpose/obj/Debug/netcoreapp3.0/ExceptionsOnPurpose.AssemblyInfo.cs
*.cache
ExceptionsOnPurpose/ExceptionsOnPurpose/obj/Debug/netcoreapp3.0/ExceptionsOnPurpose.csproj.FileListAbsolute.txt
*.props
*.targets
ExceptionsOnPurpose/.vs/ExceptionsOnPurpose/DesignTimeBuild/.dtbcache
ExceptionsOnPurpose2/.vs/ExceptionsOnPurpose2/v16/.suo
ExceptionsOnPurpose2/ExceptionsOnPurpose2/obj/Debug/netcoreapp3.0/ExceptionsOnPurpose2.AssemblyInfo.cs
ExceptionsOnPurpose2/ExceptionsOnPurpose2/obj/Debug/netcoreapp3.0/ExceptionsOnPurpose2.csproj.FileListAbsolute.txt
ExceptionsOnPurpose2/.vs/ExceptionsOnPurpose2/DesignTimeBuild/.dtbcache
ExceptionsOnPurpose3/.vs/ExceptionsOnPurpose3/v16/.suo
ExceptionsOnPurpose3/ExceptionsOnPurpose3/obj/Debug/netcoreapp3.0/ExceptionsOnPurpose3.AssemblyInfo.cs
ExceptionsOnPurpose3/ExceptionsOnPurpose3/obj/Debug/netcoreapp3.0/ExceptionsOnPurpose3.csproj.FileListAbsolute.txt
ExceptionsOnPurpose3/.vs/ExceptionsOnPurpose3/DesignTimeBuild/.dtbcache
SubscriptExceptionTest/.vs/SubscriptExceptionTest/v16/.suo
SubscriptExceptionTest/SubscriptExceptionTest/obj/Debug/netcoreapp3.0/SubscriptExceptionTest.AssemblyInfo.cs
SubscriptExceptionTest/SubscriptExceptionTest/obj/Debug/netcoreapp3.0/SubscriptExceptionTest.csproj.FileListAbsolute.txt
SubscriptExceptionTest/.vs/SubscriptExceptionTest/DesignTimeBuild/.dtbcache
MortgageApplication/.vs/MortgageApplication/v16/.suo
MortgageApplication/MortgageApplication/obj/Debug/netcoreapp3.0/MortgageApplication.AssemblyInfo.cs
MortgageApplication/MortgageApplication/obj/Debug/netcoreapp3.0/MortgageApplication.csproj.FileListAbsolute.txt
MortgageApplication/.vs/MortgageApplication/DesignTimeBuild/.dtbcache
FindSquareRoot/.vs/FindSquareRoot/v16/.suo
FindSquareRoot/FindSquareRoot/obj/Debug/netcoreapp3.0/FindSquareRoot.AssemblyInfo.cs
FindSquareRoot/FindSquareRoot/obj/Debug/netcoreapp3.0/FindSquareRoot.csproj.FileListAbsolute.txt
FindSquareRoot/.vs/FindSquareRoot/DesignTimeBuild/.dtbcache
OrderExceptionDemo1/.vs/OrderExceptionDemo1/v16/.suo
OrderExceptionDemo1/OrderExceptionDemo1/obj/Debug/netcoreapp3.0/OrderExceptionDemo1.AssemblyInfo.cs
OrderExceptionDemo1/OrderExceptionDemo1/obj/Debug/netcoreapp3.0/OrderExceptionDemo1.csproj.FileListAbsolute.txt
OrderExceptionDemo1/.vs/OrderExceptionDemo1/DesignTimeBuild/.dtbcache
OrderExceptionDemo2/.vs/OrderExceptionDemo2/v16/.suo
OrderExceptionDemo2/OrderExceptionDemo2/obj/Debug/netcoreapp3.0/OrderExceptionDemo2.AssemblyInfo.cs
OrderExceptionDemo2/OrderExceptionDemo2/obj/Debug/netcoreapp3.0/OrderExceptionDemo2.csproj.FileListAbsolute.txt
OrderExceptionDemo2/.vs/OrderExceptionDemo2/DesignTimeBuild/.dtbcache
